DB_HOST=
DB_PASS=
DB_NAME=
DB_HOST=

API_PORT=
DB_PORT=
MLFLOW_TRACKING_URI=
MLFLOW_PORT=
GITHUB_TOKEN=
GITHUB_REPO=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
S3_BUCKET_NAME=
S3_TRAIN_DATA=